html {
  font-family: 'Asap Condensed', sans-serif;
  text-align: center;
  align-content: center;
}

table {
  table-layout: auto;
  border-spacing: 2px;
  border-collapse: separate;
  margin-left: auto;
  margin-right: auto;
  font-size: 22px;
  font-weight: 700;
  
}


.even {
  background-color: #f2f2f2;  
}

.acima_media {
  background-color: #FF665A;
}


th {
  text-align: center;  
  background-color: #61C2C7;
  padding: 5px 15px 5px 15px;
}

td { 
  text-align: left;
  padding: 10px;  
}



.center {
  text-align: center;
}

.nome {
  letter-spacing: 0.5px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 3px;
  width: 100%; 
  text-align: center;
}

.addVisita {
  background-color: #01ACF4;
  border: none;
  border-radius: 4px;
  font-family: 'Asap Condensed', sans-serif;
  color: white;
  padding: 9px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;  
  cursor: pointer;
  transition-duration: 0.4s;
}

.addVisita:hover {
  background-color: #3A5D8C; 
  color: white;
}

#txtNome {
  width: 98.5%;
  height: 30px;
  margin-bottom: 8px;
}

#txtDocumento {
  width: 50%;
  height: 30px;
  margin-bottom: 8px; 
  display: inline-block;
  float: left;
}

#txtTelefone {
  width: 46%;
  height: 30px;
  margin-bottom: 8px;  
  display: inline-block;
  float: right;
}

.btnCadastro {
  background-color: #01ACF4;
  border: none;
  border-radius: 4px;
  font-family: 'Asap Condensed', sans-serif;
  color: white;
  padding: 9px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;  
  cursor: pointer;
}

#formContainer {
  margin-left: 30%;
  margin-right: 30%;
}



label {
  align-self: left;
}