html {
  font-family: 'Asap Condensed', sans-serif;
  text-align: center;
  align-content: center;
}

table {
  table-layout: auto;
  border-spacing: 2px;
  border-collapse: separate;
  margin-left: auto;
  margin-right: auto;
  font-size: 22px;
  font-weight: 700;
  
}


.even {
  background-color: #f2f2f2;  
}

.acima_media {
  background-color: #FF665A;
}


th {
  text-align: center;  
  background-color: #61C2C7;
  padding: 5px 15px 5px 15px;
}

td { 
  text-align: left;
  padding: 10px;  
}



.center {
  text-align: center;
}

.nome {
  letter-spacing: 0.5px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 3px;
  width: 100%; 
  text-align: center;
}

.addVisita {
  background-color: #01ACF4;
  border: none;
  border-radius: 4px;
  font-family: 'Asap Condensed', sans-serif;
  color: white;
  padding: 9px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;  
  cursor: pointer;
  transition-duration: 0.4s;
}

.addVisita:hover {
  background-color: #3A5D8C; 
  color: white;
}

#txtNome {
  width: 98.5%;
  height: 30px;
  margin-bottom: 8px;
}

#txtDocumento {
  width: 50%;
  height: 30px;
  margin-bottom: 8px; 
  display: inline-block;
  float: left;
}

#txtTelefone {
  width: 46%;
  height: 30px;
  margin-bottom: 8px;  
  display: inline-block;
  float: right;
}

.btnCadastro {
  background-color: #01ACF4;
  border: none;
  border-radius: 4px;
  font-family: 'Asap Condensed', sans-serif;
  color: white;
  padding: 9px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;  
  cursor: pointer;
}

#btnVoltar {
  background-color: #D98484;
  border: none;
  border-radius: 4px;
  font-family: 'Asap Condensed', sans-serif;
  color: white;
  padding: 9px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;  
  cursor: pointer;
}

#formContainer {
  margin-left: 30%;
  margin-right: 30%;
}



label {
  align-self: left;
}

#txtSearch {
  display: inline-block;
  margin-right: 22%;
  margin-bottom: 5px;
   
}

#print {
  display: inline-block;
 margin-left:22%;
 margin-bottom: 5px;
}







#cam {
  margin-top: 16px;
}

#video {
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width:320px;
  height:240px;
}

#photo {
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width:320px;
  height:240px;
  margin-bottom: 16px;
}

#canvas {
  display:none;
}

.camera {
  width: 340px;
  display:inline-block;
}

.output {
  width: 340px;
  display:inline-block;
}

#startbutton {
  display:block;
  position:relative;
  margin-left:auto;
  margin-right:auto;
  bottom:32px;
  background-color: rgba(0, 150, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  color: rgba(255, 255, 255, 1.0);
}

.contentarea {
  font-size: 16px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  width: 760px;
}